@import 'tailwindcss';
@import '@fontsource/inter';

:root {
	--primary-color: hsl(101, 5%, 6%);
	--secondary-color: hsl(101, 5%, 10%);
	--border-color: hsl(101, 5%, 15%);
	--foreground-color: hsl(101, 5%, 96%);
	--muted-foreground-color: hsl(101, 5%, 80%);
	--accent-color: hsl(101, 26%, 46%);
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-border: var(--border-color);
	--color-foreground: var(--foreground-color);
	--color-muted-foreground: var(--muted-foreground-color);
	--color-accent: var(--accent-color);
}

body {
	background-color: var(--primary-color);
	color: var(--foreground-color);

	font-family: 'Inter', system-ui, sans-serif;
}
